[Unit]
Description=Streamer
After=multi-user.target network-online.target

[Service]
WorkingDirectory=/home/drew/playin/camera-ffmpeg-daemon
User=drew
Group=drew
ExecStart='/home/drew/playin/camera-ffmpeg-daemon/run.sh'
KillMode=control-group
Restart=on-failure
TimeoutSec=1

[Install]
WantedBy=multi-user.target
Alias=record-cameras.service
